# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
my-dynamodb-data

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij Idea workspace files
.idea/
*.iml

# VSCode workspace files
*.code-workspace

# generated proto files
*.pb.go

# golang vendor directory
vendor

# data directory
data

# temporary file generated during build
build

# gRPC generated client stubs
client/php/lib
client/php/src
client/golang/proto

# .netrc file containing github access token
.netrc
main

# proto gen docker dir
protoc-gen

# not to be commited creds
.creds

# gosec bin and others
bin
Phone